{% extends "base.html" %}
{% block content %}

<h2>A new way to blahg.</h2>
<p>
  <form method="post">
    <div class="container">
      <form class="form-signin">
	<input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="container">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <br>
    <div class="container">
      <input type="submit" class="btn btn-smll btn-primary btn-block" name ="button" value="Login">
    </div>
    </form>
    {% if log == "fail" %}
    <font color = "red">Username and Password do not match</font>
    {% elif log == "noUser" %}
    <font color = "red">Username does not exist, please make an account</font>
    {% endif %}

    {% endblock %}
