<!DOCTYPE html>
<html>
<head>
<!--<link rel="shortcut icon" href="favicon.ico">-->
<title>Blahggerz</title>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
<style>
body
{ 
background-image:url('''+img+''');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center
}
body {
    font-family: Futura, Helvetica, sans-serif;
    text-align: Center;
    <!--color: rgb(255,255,255);-->
}
</style>
</head>

<body>
  <h1><font size="+10">Blahggerz</font></h1>
  <p>
<form method="post">
  <div class="container">
    <form class="form-signin">
      <label for="username" class="sr-only">Username:</label>
      <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="container">
      <label for "password" class="sr-only">Password:</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div
    <p>
<input type="submit" name ="button" value="Login">
</form>
Don't have an account?
<br>
<a href="/register">Click Here!</a>
</body>
</html>
