{% extends "base.html" %}
{% block content %}

<h2>A new way to blahg.</h2>
<p>
  <form method="POST">
    <div class = "container">
      <input type="submit" class = "btn btn-smll btn-primary brn-block" name ="button0" value="Write New Post">
    </div>
  </form>
  <form method="post">
    <hr>
    <br>
    <center><table width = "70%">
	{% for x in posts %}
	<tr>
	  <th>
	    {{x.user}}
	  </th>
	  <td width = "70%">
	    {{x.time}}
	  </td>
	  <td width = "10%">
	    {{x.msg}}
	  </td>
	</tr>
	{% endfor %}
    </table></center>
  </form>

  {% endblock %}
