<!DOCTYPE html>
<html>
<head>
<!--<link rel="shortcut icon" href="favicon.ico">-->
<title>Blahggerz</title>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<style>
body
{ 
background-image:url('''+img+''');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center
}
body {
    font-family: Futura, Helvetica, sans-serif;
    text-align: Center;
    <!--color: rgb(255,255,255);-->
}
</style>
</head>



<html>
<body>

<h1><font size="+10">Blahggerz</font></h1>
<h2>A new way to blahg.</h2>
<p>
<form method="post">
<div class = "container">
<input type="submit" name ="button0" value="Write New Post">
</div>
</form>
<form method="post">
<center><table>
{% for x in posts %}
<tr>
	<th>
		{{x[0]}}
	</th>
	<th>
		{{x[2]}}
	</th>
	<td>
		<input type="submit" class="btn btn-smll btn-primary btn-block" name ="button" value={{x[3]}}>
	</td>
</tr>
{% endfor %}
</table></center>
</form>
</body>
</html>
