<!DOCTYPE html>
<html>
<head>
<!--<link rel="shortcut icon" href="favicon.ico">-->
<title>Blahggerz</title>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<style>
body
{ 
background-image:url('''+img+''');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center
}
body {
    font-family: Futura, Helvetica, sans-serif;
    text-align: Center;
    <!--color: rgb(255,255,255);-->
}
</style>
</head>

<body>
<h1>Blahggerz</h1>
{% if taken == True %}
	Sorry that username is taken, please enter a different one
{% endif %}
{% if success == True %}
	<h3>Congrats! You created a Blahggerz account</h3>
	<a href="/index">Login Here!</a>
{% else %}
	<form method="post">
	  <div class="container">
	    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
	  </div>
	   <div class="container">
	     <input type="password" name="password" class="form-control" placeholder="Password" required>
	   </div>
	   <div class="container">
	     <input type="submit" class="btn btn-smll btn-primary btn-block" name ="button" value="Register">
	</form>
	Already have an account?
	<br>
	<a href="/index">Login Here!</a>
{% endif %}
</body>
</html>
